<!DOCTYPE html>
<html lang="en">
<head>
  <title>CS55.11 Assingments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
  <style>
    .portfolio-item {
      border: 1px solid #c4c4c4;
      border-radius: 7px;
      box-shadow: 0px 6px 6px 2px #efefef;
      text-align: center;
    }

    .jumbotron {
      background: rgb(146, 193, 194);
    }
    
    #title {

    }
  </style>
  
</head>
<body>
  <div class="jumbotron text-center">
    <h1>CS55.11 Assingments </h1>
    <h4>JavaScript, jQuery, and Ajax</h1>

  </div>
  <div ng-app="myApp" ng-controller="myCtrl">
    <div class="container bg-3 text-center" >
        <p><input type="text" ng-model="keywords"></p>
        <p style="display: inline"> jQuery <input type="checkbox" ng-model="jQuery" ng-init="jQuery=true"></p>
        <p style="display: inline"> jQuery UI <input type="checkbox" ng-model="jQueryUI" ng-init="jQueryUI=true"></p>
        <p style="display: inline"> D3 <input type="checkbox" ng-model="d3" ng-init="d3=true"></p>
        <p style="display: inline"> Phaser <input type="checkbox" ng-model="phaser" ng-init="phaser=true"></p>
        <p style="display: inline"> Google Maps API <input type="checkbox" ng-model="maps" ng-init="maps=true"></p>
        <p style="display: inline"> Ajax <input type="checkbox" ng-model="ajax" ng-init="ajax=true"></p>
    </div>
    <div class="container bg-3 text-center">    
        <div class="row">
          <div class="col-sm-4" ng-repeat="item in portfolioItems | filter: keywords" ng-show="{{ item.filter }}">
              <a ng-href="{{item.link}}">
                <h5 id="title"> {{ item.title }} </h5>
                <img ng-src="images/{{item.image}}" class="img-responsive" style="width:100%" alt="Image">
                <p> {{ item.description }} </p>
                <br>
              </a>
          </div>
        </div>
      </div>
  </div>
  <script type="text/javascript">
      // $scope is the Model in an AngularJS application
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope) {
        $scope.portfolioItems = [ 
          { title: "Assignment 1: JavaScript Programming Experiment: An Interactive Card Game", 
            image: "blackJack.jpg", 
            description: "Black Jack V1",
            link: "https://tylerjachetta.github.io/Assignment_1/game.html",
            filter: "jQuery"
          },
          { title: "Assignment 2: JavaScript Programming Experiment: Two-Player Interactive Card Game", 
            image: "blackJack2.jpg", 
            description: "Black Jack V2",
            link: "https://tylerjachetta.github.io/Assignment_2/game.html",
            filter: "jQuery"
          },
          { title: "Assignment 3: JavaScript Programming with the jQuery Library", 
            image: "simon.jpg", 
            description: "Simon Says",
            link: "https://tylerjachetta.github.io/Assignment_3/",
            filter: "jQuery"
          },
          { title: "Assignment 4: JavaScript Programming with the jQuery UI Library", 
            image: "solar.jpg", 
            description: "Solar System Model",
            link: "https://tylerjachetta.github.io/Assignment_4/index.html",
            filter: "jQueryUI"
          },
          { title: "Assignment 5: JavaScript Programming jQuery Plugins in Three or More Acts", 
            image: "vaporwave.jpg", 
            description: "Vaporwave Radio",
            link: "https://tylerjachetta.github.io/Assignment_5/index.html",
            filter: "jQueryUI"
          },
          { title: "Assignment 6: JavaScript Programming with Google Maps API", 
            image: "eat.jpg", 
            description: "Best places to eat in Santa Rosa",
            link: "https://tylerjachetta.github.io/Assignment_6/index.html",
            filter: "maps"
          },
          { title: "Assignment 7: JavaScript Programming with Asynchronously-Loaded JSON Data", 
            image: "war.jpg", 
            description: "Historical Events of WWII",
            link: "https://tylerjachetta.github.io/Assignment_7/index.html",
            filter: "maps + ajax"
          },
          { title: "Assignment 8: Data Visualization with JavaScript and the D3 Library", 
            image: "dog.jpg", 
            description: "Sorting Algorithms Visualized",
            link: "https://tylerjachetta.github.io/Assignment_8/SelectionSort.html",
            filter: "d3"
          },
          { title: "Assignment 9: Simple Game with JavaScript and the Phaser.js Library", 
            image: "dog.jpg", 
            description: "Puppy Pats Prototype",
            link: "https://tylerjachetta.github.io/Assignment_9/index.html",
            filter: "phaser"
          },
          { title: "Assignment 10: Evolved Game with JavaScript and the Phaser.js Library", 
            image: "dog1.jpg", 
            description: "Puppy Pats Evolved",
            link: "https://tylerjachetta.github.io/Assignment_10/index.html",
            filter: "phaser"
          },
          { title: "Assignment 11: Evolved Game with JavaScript and the Phaser.js Library", 
            image: "dog1.jpg", 
            description: "Puppy Pats, Revenge of the Pups",
            link: "https://tylerjachetta.github.io/Assignment_11/index.html",
            filter: "phaser + ajax"
          }
        ];
      });
  </script>
</body>
</html>
