html, body{
    height: 100%;
    width: 100%;
   	overflow: hidden;
}
h1{
    position: absolute;
    z-index: 2;
    font-family: Arial;
    color: black;
}
#map-container{
    height: 100%;
    width: 100%;
}