html, body{
    height: 100%;
    width: 100%;
   	overflow: hidden;
}
header{
    position: absolute;
    z-index: 2;
    font-family: Arial;
    color: #2d4424;
}
#map-container{
    height: 75%;
    width: 75%;
}