
body {
	background-image: url('https://i.ytimg.com/vi/-79gzCtQZQQ/maxresdefault.jpg');
}

#sun {
	width: 150px;
	height: 150px;
	background-image: url('http://www.favewallpapers.com/large/201510/80932.jpg');
	border-radius: 50%;
	position: fixed;
    position: absolute;
    top: 41%;
    left: 48%;
}

.planet {
	width: 60px;
	height: 60px;
	margin-top: 20px;
	border-radius: 50%;
	padding:5px;
	animation: orbit linear 19s infinite;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    border: solid 1px white;

}
.empty-planets {
	top: 44%;
    left: 7%;
    position: absolute;
}

.empty-planets .planet {
	float:left;
	margin-left:20px;
}

.earth {
	clear:both;
	background: skyblue;
    border: 0px;

}

.mercury {
	background: red;
  	border: 0px;

}

.venus {
	background: orange;
  	border: 0px;
}

.jupiter {
	background: salmon;
	border: 0px;
}

.mars {
	background: red;
	border: 0px;
}
.uranus {
	background: purple;
	border: 0px;

}

.saturn {
	background: salmon;
	border: 0px;

}

.neptune {
	background: blue;
	border: 0px;

}

#accordion {
	position: absolute;
    top: 730px;
    width: 744px;
    left: 31%;
    opacity: .8;
} 
/*
@-webkit-keyframes orbit {
    from { -webkit-transform: rotate(0deg) translateX(200px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}
*/ 
